html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: black;
}

$boardSize: 400px;
$fieldSize: 50px;
$figureSize: 40px;

.chessApp {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    min-width: 1000px;
    align-items: center;
    padding-top: 50px;

    h2 { 
        font-size: 2rem;
        padding: 15px 0;
    }

    .killed-figures {
        min-height: $fieldSize;
        width: $boardSize;
        box-sizing: content-box;
        border: 1px solid black;
        margin-bottom: 20px;
        display: flex;
        flex-wrap: wrap;

        img {
            width: $fieldSize;
            height: $fieldSize;
        }
    }

    .board {
        height: $boardSize;
        width: $boardSize;
        display: flex;
        flex-wrap: wrap;
        box-sizing: content-box;
        margin: 20px 0;
        border: 1px solid #444;
        position: relative;

        &::after {
            content: '12345678';
            display: block;
            height: 20px;
            width: $boardSize;
            position: absolute;
            text-align: center;
            font-size: 2rem;
            line-height: 20px;
            letter-spacing: 40px;
            bottom: -25px;
            text-indent: 15px;
        }

        &::before {
            content: '12345678';
            display: block;
            height: 20px;
            width: $boardSize;
            position: absolute;
            text-align: center;
            font-size: 2rem;
            line-height: 20px;
            letter-spacing: 40px;
            text-indent: -5px;
            transform-origin: bottom left;
            transform: rotateZ(270deg);
            left: -10px;
            bottom: 15px;
        }
    }

    .figure {
        width: $fieldSize;
        height: $fieldSize;
        // border: 1px solid black;
        display: flex;
        justify-content: center;
        align-items: center;

        &[class$="8"]:nth-child(2n), 
        &[class$="6"]:nth-child(2n), 
        &[class$="4"]:nth-child(2n), 
        &[class$="2"]:nth-child(2n) {
            background-color: #555;
        }

        &[class$="1"]:nth-child(2n + 1),
        &[class$="3"]:nth-child(2n + 1), 
        &[class$="5"]:nth-child(2n + 1), 
        &[class$="7"]:nth-child(2n + 1) {
            background-color: #555;
        }

        &:nth-child(n):hover {
            background-color: #999;
        }
         
        img {
            width: $figureSize;
        }
    }
}